#outer
{
    /*margin: 10% 50% 0%;
width:40%;*/
}

#second 
{
border:1px solid white;
}

.mybody
{
color:white; 
background:white;
margin:10px 10px 10px 10px:
}

.container
{
	color:white;
}

td
{
  word-break:break-all;
}